<div class="wrapper">
    <% content_for :notiftop do %>
      <%= render :partial => './home/partials/notiftop' %>
    <% end %>

    <%= content_for :flogo do %>
      <div class="flogo-laf">
        <%= image_tag('flogo.png', class: 'flogo') %>
      </div>
    <% end %>

  <% content_for :navmenu do %>
    <div class="wrapper-navmenu">
      <div class="wrap-menu">
        <ul class="nav">
          <li class="icon-drop justin">Just in <%= image_tag('icon-dropdown-grey.svg', class: 'drop-icon') %>
            <ul class="sub-menu">
              <div class="title-sub">
                <h1>Just In.</h1>
                <%= image_tag('brush.png', class: 'brush-just') %>
              </div>
              <li class="ls"><a href="#" class="isActive">New This Week</a></li>
              <li class="ls"><a href="#">Best Seller</a></li>
              <li class="ls"><a href="#">Back in Stock</a></li>
            </ul>
          </li>
          <li class="icon-drop">Shop <%= image_tag('icon-dropdown-grey.svg', class: 'drop-icon') %></li>
          <li class="icon-drop">Designer <%= image_tag('icon-dropdown-grey.svg', class: 'drop-icon') %>
              <ul class="design-container">
                <div class="wrap-design">
                  <div class="wrap-title">
                    <%= image_tag('brush3.png', class: 'brush-designer') %>
                    <p>Designer.</p>
                  </div>
                  <div class="list-designer">
                    <div id="filter-by">
                      <span>
                        <a>All</a>
                        <a>A</a>
                        <a>B</a>
                        <a>C</a>
                        <a>D</a>
                        <a class="filter-disable">E</a>
                        <a>F</a>
                        <a>G</a>
                        <a>H</a>
                        <a class="filter-disable">I</a>
                        <a class="filter-disable">J</a>
                        <a>K</a>
                        <a>L</a>
                        <a>M</a>
                        <a class="filter-disable">O</a>
                        <a class="filter-disable">P</a>
                        <a>Q</a>
                        <a>R</a>
                        <a>S</a>
                        <a>T</a>
                        <a class="filter-disable">U</a>
                        <a>V</a>
                        <a>W</a>
                        <a class="filter-disable">X</a>
                        <a>Y</a>
                        <a>Z</a>
                      </span>
                    </div>
                    <div class="by-designer">
                      <div id="filtered">

                        <div class="persons">
                          <ul>
                            <li><a>A</a></li>
                            <li><a href="#">Amanda Rahardjo</a></li>
                            <li><a href="#">And Other Days</a></li>
                            <li><a href="#">Arrisa X</a></li>
                          </ul>
                        </div>
                        <div class="persons">
                            <ul>
                              <li><a href="#">B</a></li>
                              <li><a href="#">Bloom Et Champs</a></li>
                              <li><a href="#">By Pozo</a></li>
                            </ul>
                        </div>

                        <div class="persons">
                          <ul>
                            <li><a href="#">C</a></li>
                            <li><a href="#">Chapelet</a></li>
                            <li><a href="#">Claude</a></li>
                          </ul>
                        </div>

                        <div class="persons">
                          <ul>
                            <li><a href="#">D</a></li>
                            <li><a href="#">Dhapelet</a></li>
                            <li><a href="#">Dlaude</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
          </li>
          <li class="icon-drop sale">Sale <%= image_tag('icon-dropdown-grey.svg', class: 'drop-icon') %>
            <ul class="sub-menu">
              <div class="title-sub">
                <h1 class="sale-head">Sale.</h1>
                <%= image_tag('brush2.png', class: 'brush-just') %>
              </div>
              <p>All</p>
              <li class="ls"><a href="#">50% Off</a></li>
              <li class="ls"><a href="#">Under 200k</a></li>
              <li class="ls"><a href="#">Under 500k</a></li>
            </ul>
          </li>
          <li>Stories</li>
          <li>Instashop</li>
        </ul>
      </div>
    </div>
  <% end %>


<div class="container-slider">
  <div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
</div>

<h1>test</h1>



</div>
