<div class="wrapper">
    <% content_for :notiftop do %>
      <%= render :partial => './home/partials/notiftop' %>
    <% end %>

    <%= content_for :flogo do %>
      <div class="flogo-laf">
        <%= image_tag('flogo.png', class: 'flogo') %>
      </div>
    <% end %>

  <% content_for :navmenu do %>
    <div class="wrapper-navmenu">
      <div class="wrap-menu">
        <ul class="nav">
          <li class="icon-drop justin">Just in <%= image_tag('icon-dropdown-grey.svg', class: 'drop-icon') %>
            <ul class="sub-menu">
              <div class="title-sub">
                <h1>Just In.</h1>
                <%= image_tag('brush.png', class: 'brush-just') %>
              </div>
              <li class="ls"><a href="#">New This Week</a></li>
              <li class="ls"><a href="#">Best Seller</a></li>
              <li class="ls"><a href="#">Back in Stock</a></li>
            </ul>
          </li>
          <li class="icon-drop">Shop <%= image_tag('icon-dropdown-grey.svg', class: 'drop-icon') %></li>
          <li class="icon-drop">Designer <%= image_tag('icon-dropdown-grey.svg', class: 'drop-icon') %></li>
          <li class="icon-drop">Sale</li>
          <li>Stories</li>
          <li>Instashop</li>
        </ul>
      </div>
    </div>
  <% end %>


<div class="container-slider">
  <div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrapper-slider">
        <div class="wrap-slide">
          <%= image_tag('fashion.png', class: 'model-fashion') %>
        </div>
        <div class="wrap-slide">
          <div class="wrap-content">
            <div class="title-slide">
              <h1>New  Collection  is Available Here</h1>
            </div>
            <div class="content-slide">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum.</p>
            </div>
            <div class=" btn-slide">
              <a href="#" class="btn-slide-1">View Collections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
</div>

<h1>test</h1>



</div>
